.Header {
    display: flex;
    align-items: center;
}
/* mobile */
@media (max-width: 767px) {
    .Nav {
        display: none;
    }

    .Header {
        justify-content: space-between;
    }

    .NavIcon {
        margin: 2rem;
    }

    .NavIcon div {
        width: 30px;
        height: 3px;
        background-color: var(--black);
        margin-bottom: 6px;
    }
}

/* desktop */
@media (min-width: 768px) {
    .Nav {
        display: flex;
        flex-direction: row;
    }

    .NavIcon {
        display: none;
    }

    .Header {
        justify-content: center;
    }

    .Title {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .Logo {
        flex: 0 1 auto;
        margin-right: auto;
        padding-top: 1%;
    }
}
